@use "./variables.scss" as variables;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: variables.$lightPink; 

    a {
        text-decoration: none;
    }
}